<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thank_you">
        <h1>Thank you!</h1>
        <p>We've received your message and we'll response as soon as possible.</p>
      </div>
    </div>
  </div>
</div>

