/* line 5, /Users/vicphillips/Desktop/code/special/app/assets/stylesheets/static_pages.scss */
h1 {
  color: #1E90FF;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 12, /Users/vicphillips/Desktop/code/special/app/assets/stylesheets/static_pages.scss */
h2 {
  color: #DC143C;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



	

