// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color:#1E90FF;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2 {
	
  color:#DC143C;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
}
	
.container a:hover { color: #f55e55; text-decoration: none; background-color: rgba(255, 255, 255, 0); }

body { padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
td { padding: 8px; }