// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color:#1E90FF;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2 {
	
  color:#DC143C;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
}
	
