<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1 id="store-teaser">Store Sale Includes Everything!</h1>
=======
<h1 id="store-teaser">Store Sale Includes Everything! </h1>
>>>>>>> 5d74a034fc3ee19f1f4284ba2e98de1aa00699be

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Description</th>
      <th>Colour</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      
      <%= render product %>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD
<%= link_to 'New Product', new_product_path %>
=======
<%= link_to 'New Product', new_product_path %>


>>>>>>> 5d74a034fc3ee19f1f4284ba2e98de1aa00699be
